*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

body {
    text-align: center;
}

main {
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

input,
textarea {
    min-width: 0;
}

.yourMsg > *,
.theirMsg > * {
    color: white;
    color: white;
    font-weight: 900;
    white-space: pre;
    max-width: 30em;
    border-radius: 5px;
    padding: 0.25em;
    padding-left: 1em;
}

.yourMsg > * {
    margin-right: 20em;
}

.theirMsg > * {
    margin-left: 20em;
}

#yourId {
    text-align: center;
    max-width: 20em;
    padding: 0.25em;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}

#clientList {
    list-style-type: none;
    margin-left: -2.5em;
}

#clientList > li {
    text-align: center;
    max-width: 20em;
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}
#clientList > li > * {
    margin-right: 5em;
}

#errorMessages {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid red;
    background-color: #f8d7da;
    color: #721c24;
}

.errorMsg {
    margin: 0;
    padding: 0;
}

/* CANVAS */
#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
}
